@import "./variables";
.cars {
  font-family: $mainFontFamily;
  color: black;
  overflow-y: auto;
  max-height: 85%;
  width: 100%;
  overflow-y: auto;
  top: 93px;
  position: fixed;
  h1 {
    font-size: 2em;
    text-align: center;
    margin: 5vh;
  }
}
