.navbar {
  top: 0;
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-around;
  border-bottom: 4px solid #000;
  align-items: center;

  button {
    margin: auto;
    background-color: white;
    color: black;
    font-size: x-large;
  }
  .imgButton {
    width: 200px;
    margin-left: -9%;
    margin-top: 10px;

    img {
      width: 220px;
    }
  }
}
